<a href="https://colab.research.google.com/github/bhogasena/EDA/blob/main/BiVariate_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Gold - Silver Prices Correlation**

In [1]:
import pandas as pd

In [2]:
goldsilv_df = pd.read_csv('EDA_Gold_Silver_prices.csv')

In [3]:
goldsilv_df.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

In [4]:
goldsilv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Month        241 non-null    object
 1   SilverPrice  241 non-null    float64
 2   GoldPrice    241 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.8+ KB

In [5]:
import datetime

In [10]:
goldsilv_df['Mon']=goldsilv_df['Month'].apply(lambda x: datetime.datetime.strptime(x,'%b-%y').strftime('%b'))

In [11]:
goldsilv_df.head()

    Month  SilverPrice  GoldPrice  Mon
0  Mar-97       186.48   12619.24  Mar
1  Apr-97       170.65   12338.59  Apr
2  May-97       170.44   12314.94  May
3  Jun-97       169.96   12202.78  Jun
4  Jul-97       155.80   11582.07  Jul

In [12]:
goldsilv_df['Year']=goldsilv_df['Month'].apply(lambda x: datetime.datetime.strptime(x,'%b-%y').strftime('%y'))

In [13]:
goldsilv_df.head()

    Month  SilverPrice  GoldPrice  Mon Year
0  Mar-97       186.48   12619.24  Mar   97
1  Apr-97       170.65   12338.59  Apr   97
2  May-97       170.44   12314.94  May   97
3  Jun-97       169.96   12202.78  Jun   97
4  Jul-97       155.80   11582.07  Jul   97

In [14]:
import plotly.express as px
fig = px.scatter(goldsilv_df,x='SilverPrice',y='GoldPrice')
fig.show()

# Correlation between Gold and Silver Prices

In [16]:
corr = goldsilv_df['GoldPrice'].corr(goldsilv_df['SilverPrice'])

In [17]:
print(corr)

0.9542559570539775

# 2008 Prices Analysis

In [28]:
goldsilv_2018_df = goldsilv_df[goldsilv_df['Year']=='08']

In [31]:
print(round(goldsilv_2018_df['GoldPrice'].corr(goldsilv_2018_df['SilverPrice']),2))

0.01

In [30]:
goldsilv_2018_df.head()

      Month  SilverPrice  GoldPrice  Mon Year
130  Jan-08       632.29   35025.78  Jan   08
131  Feb-08       701.87   36642.46  Feb   08
132  Mar-08       775.49   39082.77  Mar   08
133  Apr-08       700.96   36416.00  Apr   08
134  May-08       718.20   37435.38  May   08

In [25]:
goldsilv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Month        241 non-null    object
 1   SilverPrice  241 non-null    float64
 2   GoldPrice    241 non-null    float64
 3   Mon          241 non-null    object
 4   Year         241 non-null    object
dtypes: float64(2), object(3)
memory usage: 9.5+ KB

In [26]:
goldsilv_df['Year'].unique()

array(['97', '98', '99', '00', '01', '02', '03', '04', '05', '06', '07',
       '08', '09', '10', '11', '12', '13', '14', '15', '16', '17'],
      dtype=object)

In [27]:
goldsilv_df['Mon'].unique()

array(['Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov',
       'Dec', 'Jan', 'Feb'], dtype=object)